node_modules/
.pnpm-store/
.env
build
dist
cache/
artifacts/
data/
coverage*
another-example-app

.DS_Store
Thumbs.db

docker-compose.yml
docker-compose.yaml

.vscode/*
!.vscode/settings.json
!.vscode/launch.json
!.vscode/extensions.json
